.tre:hover{
    color: #EA64D9;
    cursor: pointer;
}



nav{
    position: fixed;
}
@media (max-width:1023px) {
    .ten{
        font-size: 2rem;
        font-weight: bold;
        line-height: 4vh;
        padding-top: 6vh;
    }
    main{
        padding-left: 5vw;
    }
}
@media (min-width:1024px) {
    .ten{
        font-size: 3rem;
        font-weight: bold;
        line-height: 6vh;
        padding-top: 20vh;
        
    }
    main{
        padding-left: 10vw;
    }
}